.mainBody{

    background-color: #2F1893;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecondaryBody{

    width: 60%;
    height: 75%;
    margin-top: 50px;
    
    
}

.HeaderDiv {

    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    padding: 4px 0 4px 0;

}


.icon{

   display: none;
}


.TabsinHeader{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:18px;
    font-weight: 500;
    color: white;
}

.TextAndForm{

    display: flex;
    flex-direction: row;
    padding-top: 60px;
    justify-content: space-between;
    

    
}

.TextContent{

    width: 50%;
    padding-top: 30px;
    display: grid;
    row-gap: 30px;
    color: #FFFFFF;
    

}

.Text1{

    font-size: 58px; font-weight: 700; line-height: 70px; color: white; 
}


.Text2{

    font-size: 22px; font-weight: 500; line-height: 32px; width: 70%;
}

.Button1{

    background-color: #E93A7D;
    border-radius: 18px;
    padding: 10px 3px;
    color: beige;
    width: 28%;
    border: solid #E93A7D;
    font-size: 15px;
    
}

.Form{

    background-color: white;
    display: grid;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 12px;
}

.formInputs{

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Form input,button{

    padding: 8px;
    border-radius: 18px;
    border: 2px solid lightgray;
    box-sizing: border-box;
    
}

.Form input{

    font-size: 15px;
    padding-left: 30px;
}

.SignUp{

    font-size: 30px; font-weight: 700; margin-top:40px; margin-bottom: 10px; color: #1E0E62;
}


/* Trying to make it Responsive.......... */

@media only screen and (max-width: 600px) {



    .TabsinHeader, .Text2, .Button1{
        display: none;
       
    }

    .icon{

        display: unset;
        color: white;
        font-size: 20px;
        
    }

    .HeaderDiv{

        width: 80%;
        display: flex;
        align-items: space-around;
        align-items: center;
    }

    .Form{

        width: 80%;
        box-sizing: border-box;
        padding-top: 10px;
       
        
    }

    .Text1{

        width: 100%;
        font-size: 35px;
        line-height: unset;
        padding: 0 10px 40px 10px;
        box-sizing: border-box;
        text-align: center;
        
    }

    .TextContent{

        display: unset;
        width: unset;
    }

    


    .SignUp{

        margin: unset;
    }

    .formInputs{

        padding-bottom: 20px;
    }

    .SecondaryBody{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .TextAndForm{

        width: 100%;
        display: flex;
        padding-top: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
